<!DOCTYPE html>
<html>
<head>
<title>Admin</title>
<style>
body{background:#020617;color:white;font-family:Arial}
.container{padding:20px}
.card{background:#1e293b;padding:10px;margin:10px;border-radius:8px;display:flex;justify-content:space-between}
</style>
</head>
<body>

<div class="container">

<h2>👑 Panel Admin</h2>

<a href="/dashboard">
<button>📊 Ver Dashboard</button>
</a>

<form method="POST" enctype="multipart/form-data">
<input name="titulo" placeholder="Título" required>
<input name="autor" placeholder="Autor" required>
<input type="file" name="imagen">
<button>Agregar libro</button>
</form>

{% for l in libros %}
<div class="card">
{{ l[1] }} - {{ l[2] }}
<a href="/eliminar/{{ l[0] }}" style="color:red;">Eliminar</a>
</div>
{% endfor %}

<a href="/logout">Salir</a>

</div>

</body>
</html>
