<h1>👑 ADMIN</h1>

<form method="POST" action="/add_book" enctype="multipart/form-data">
<input name="titulo" placeholder="Título">
<input name="autor" placeholder="Autor">
<input type="file" name="imagen">
<button>Agregar</button>
</form>

<h2>📚 Libros</h2>
{% for l in libros %}
<div>
<img src="{{ url_for('static', filename='uploads/' + l[3]) }}" width="80">
{{ l[1] }}
</div>
{% endfor %}

<h2>👤 Usuarios</h2>
{% for u in users %}
<div>{{ u[1] }} - {{ u[3] }}</div>
{% endfor %}

<a href="/logout">Salir</a>
