<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>
body{background:#020617;color:white;font-family:Arial}

.header{
    padding:15px;
    background:#0f172a;
    display:flex;
    justify-content:space-between;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
    padding:20px;
}

.card{
    background:#1e293b;
    padding:20px;
    border-radius:12px;
    text-align:center;
}

.chart{
    width:60%;
    margin:40px auto;
    background:#1e293b;
    padding:20px;
    border-radius:12px;
}
</style>
</head>

<body>

<div class="header">
<h3>📊 Dashboard</h3>
<a href="/admin">Volver</a>
</div>

<div class="cards">
<div class="card">📚 {{ total_libros }}</div>
<div class="card">👤 {{ total_users }}</div>
<div class="card">📖 {{ prestados }}</div>
<div class="card">✅ {{ devueltos }}</div>
</div>

<div class="chart">
<canvas id="grafica"></canvas>
</div>

<script>
new Chart(document.getElementById('grafica'), {
    type: 'bar',
    data: {
        labels: ['Prestados','Devueltos'],
        datasets: [{
            data: [{{ prestados }}, {{ devueltos }}]
        }]
    }
});
</script>

</body>
</html>
