<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<style>
body{background:#020617;color:white;font-family:Arial;display:flex;justify-content:center;align-items:center;height:100vh}
.box{background:#1e293b;padding:30px;border-radius:12px;width:300px}
input,button{width:100%;padding:10px;margin:10px 0;border:none;border-radius:6px}
button{background:#3b82f6;color:white}
.error{color:red;text-align:center}
</style>
</head>
<body>

<div class="box">
<h2>Login</h2>

{% if error %}<p class="error">{{ error }}</p>{% endif %}

<form method="POST">
<input name="usuario" placeholder="Usuario" required>
<input type="password" name="password" placeholder="Contraseña" required>
<button>Entrar</button>
</form>

<p style="text-align:center;">
<a href="/registro">Crear usuario</a>
</p>

</div>

</body>
</html>
