<!DOCTYPE html>
<html>
<head>
<title>Registro</title>
<style>
body{
    background:#020617;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:Arial;
}
.box{
    background:#1e293b;
    padding:30px;
    border-radius:12px;
}
input,button{
    display:block;
    width:100%;
    margin:10px 0;
    padding:10px;
    border:none;
    border-radius:6px;
}
button{background:#22c55e;color:white}
.error{color:red;text-align:center}
</style>
</head>
<body>

<div class="box">
<h2>Crear cuenta</h2>

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

<form method="POST">
<input name="usuario" placeholder="Usuario" required>
<input name="password" type="password" placeholder="Contraseña" required>
<button>Crear usuario</button>
</form>

</div>

</body>
</html>
